*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: .3s;
}


.loading{
   visibility: hidden !important;
}
.loaded{
    visibility: visible !important;
}
